
body {
    background: url("../PIC/background.jpg") no-repeat;
    background-size: 100%;
    center: no-repeat;
    text-align:center;
}
.main{
    text-align: center;
    width: 1000px;
    height: 900px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
