.tbstyle {
	background-color:rgba(123,123,233,0.3);
    font-size:30px;
    position: relative;
    margin:auto;
    top:40px;
}	
.nstyle{
	text-align:right;
	width:200px;
}	
.instyle{
	text-align:left;
	font-size:30px;
	height:30px;
	width:240px;
}
.warningstyle{
	text-align:left;
	font-size:20px;
	width:200px;
}